h1 {

	color: blue;
    font-size: 100px;
}
.container {
	background-color: gray;
}

.main-bio {
	background: Blue;
}

body{
	background-color: #efeee7;
	font-style: "georgia", Times New Roman, Times,serif;
}

.main-bio {
	background: Blue;
}